body{
    background: url("../assets/images/dot-grid.png");
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 100px;
}
.portfolio-card{
    background:#fff none repeat scroll 0% 0%;
    border: 1px solid black;
    border-radius: 20px;
    width: 70vw;
    min-height: 300px;
    padding: 50px;
    font-family:Arial, Helvetica, sans-serif
    /* display: flex; */
}

.portfolio-card .card {
    /* justify-content: center; */
    padding: 20px;
    border:1px solid black;

}

.profile-pic{
    width:10em;
    border-radius: 50%;

}

h2{
    font-weight: 800;
    display: inline-block;
}