
/* FONTS */
@font-face {
    font-family: 'MadeTommy';
    font-style: normal;
    font-weight: normal;
    src:  url('../assets/fonts/MadeTommyBold.otf') format('opentype');
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: normal;
    src:  url('../assets/fonts/Lora-Regular.ttf') format('truetype');
}

/* GLOBAL */
body{

    background: url("../assets/images/dot-grid.png");
    margin: 0px;
    padding: 0px;
    width: 100vw;
    display:block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.cv-page{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.portfolio-card .long-card:hover div.hr-div{
    height: 0px;

}

h1{
    font-family: 'MadeTommy', Arial, Helvetica, sans-serif;
}

.portfolio-card h2{
    font-weight: 800;
    text-decoration: underline;
}

.portfolio-card h3{
    
}

.portfolio-card h5{
    color: gray;
    font-size: 0.7em;
    margin-left: 20px;
}

.portfolio-card a:link  {
    text-decoration:none;
    font-size: 1.2em;
}

/* CSS-DROPUP PANEL */
.dropup{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color:white;
    transition: all 2.5s ease;
}
.dropup h2{
    display: inline-block;
    font-family: 'MadeTommy', Arial, Helvetica, sans-serif;
    color: gray;
}
body:hover .dropup{
    color: black;
    font-size: 1px;
    /* display: none; */
}
body:hover .dropup{
    height: 0px;
}

/* CSS-GRID */

.portfolio-card{
    background:#fff none repeat scroll 0% 0%;
    border: 1px solid black;
    border-radius: 20px;
    width: 60vw;
    min-height: 300px;
    padding: 100px;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px 0px 100px 0px;
    display: grid;
}

.portfolio-card .card {
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow:ellipsis;

    height: 355px;
    transition: height 1s;
}

/* COLLAPSIBLE */
.portfolio-card .long-card div.hr-div{
    height: 666px; /*Just a fake div for make apper the new text*/
    transition: height 1s;
}
.portfolio-card .long-card:hover div.hr-div{
    height: 0px;

}
.portfolio-card .long-card:hover div.dropdown{
    color: white;

}
.portfolio-card .long-card div.dropdown{
    text-align: center;
}

.portfolio-card .card:hover{
    border: 2px solid yellow;
    height: 360px;
}

.portfolio-card .long-card:hover{
    border: 2px solid yellow;

    
    
    height: 500px;
    position: relative;
    /* DEV */
    /* background: white; */
    /* position: fixed; */
    /* width: 70vh; */
}


.portfolio-card .me-card{
    grid-column: 1 / 3;
    grid-row: 1;

    display: flex;
}
.portfolio-card img.profile-pic{
    width:10em;
    height: 10em;
    border-radius: 50%;
    
      
}

.portfolio-card .personal-info-card{
    grid-column: 3 / 4;
    grid-row: 1;

}
.portfolio-card .education-card{
    grid-column: 1 / 3;
    grid-row: 2;
    transition: height 2s;

}

.portfolio-card .certs-card{
    grid-column: 1 / 3;
    grid-row: 3;
}

.portfolio-card .proyects-card{
    grid-column: 3 / 4;
    grid-row: 3;
}

.portfolio-card .languages-card{
    grid-column: 1 / 3;
    grid-row: 4;
}

.portfolio-card .experience-card{
    grid-column: 3 / 4;
    grid-row: 4;
}

.portfolio-card .skills-card{
    grid-column: 3 / 4;
    grid-row: 5;
}

.personal-info-card  div{
    
    display: flex;
    align-items: center;
    margin: 10px;
    
}
.personal-info-card img {
    width: 30px;
}

.certs-card img{
    width: 50px;
    height: 50px;
}

.certs-card div.cert-title, .languages-card div.languages-title{
    display: flex;
    align-items: center;
}

.certs-card h3{

    display: inline-block;
    box-sizing: border-box;
}

.skills-card{
    grid-column: 2 / 3;
    grid-row: 5;
}

.languages-card img{
    width: 50px;
}

/* // MEDIUM SCREEN (TABLETS) */
@media only screen and (min-width: 700px) and (max-width: 1300px) {

    .portfolio-card{
        width: 100vw;
        display: block;
        padding: 40px;
    }
    .me-card{
        display: block;
    }
    .portfolio-card .card{
        height: 300px;
    }
    .portfolio-card .card:hover{
        height: 310px;
    }

    .portfolio-card .long-card:hover{

        height: 500px;
    }
}

/*// SMALL SCREEN (PHONES) */
@media only screen and (max-width: 700px) {

    .portfolio-card{
        width: 100vw;
        display: block;
        padding: 15px;
    }
    .portfolio-card .card{
        height: 400px;        
    }
    .portfolio-card .card:hover{
        height: 410px;
    }
    .me-card{
        display: block;
    }
    .portfolio-card .long-card:hover{
        height: 600px;
    }

}
