.sh-cart-div{
    
    /* padding: 10px; */
}
.sh-cart-div button{
    color: rgb(153, 153, 153);
    background-color: white;
    border:2px solid rgb(153, 153, 153);
    text-decoration: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;

}

.sh-cart-div button:hover {
    box-shadow: 0px 0px 20px 15px rgba(255, 255, 255, 0.60);
    cursor:pointer;
  }

.sh-list{
    position: fixed;
    /* top : 0px; */
    right: 0px;
    /* left: 0px; */
    /* bottom: 20px; */
    display: none;
    width: 180px;
    min-height: 200px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.9);
}