body {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center; }

.nav-bar {
  background-color: grey;
  width: 100%; }

.nav-bar nav ul {
  list-style-type: none;
  display: flex;
  background-color: grey; }

.nav-bar nav ul a {
  color: blue;
  text-decoration: none;
  margin: 0;
  padding: 0; }
