/* FONTS */
@font-face 
    font-family: 'MadeTommy'
    font-style: normal
    font-weight: normal
    src:  url('../assets/fonts/MadeTommyBold.otf') format('opentype')

body
    margin: 0px
    padding: 0px

.nav-bar
    padding: 0px 40px 0px 40px 
    display: flex
    align-items: center
    justify-content: space-between
    background-color: rgb(13, 14, 43)
    margin-bottom: 20px

nav
    // border: 1px solid white
    display: flex
    align-items: center

    width: 30%
    height: 80px

.nav-bar nav ul
    list-style-type: none
    display: flex
    justify-content: space-around
    // border: 1px solid white
    width: 100%
    // background-color: grey


.nav-bar nav ul a
    font-family: 'MadeTommy'
    color: white
    text-decoration: none

.sh-panel
    margin: 0px 60px  0px 60px
    font-family: 'MadeTommy'

    


